<style>
  .logo img{
   border-radius: 50% ;
  width: 2.5rem ;
  height: 2.7rem;
  margin-left: 10px;
  }
 a{
    text-decoration: none !important;
    color: white !important;
  }
</style>
<nav class="navbar">
  <div class="logo">
    <img src="https://tse3.mm.bing.net/th?id=OIP.c_dP7ukOKaM5CYcg4BJKZgHaF7&pid=Api&P=0&h=180" alt="logo">
  </div>
  <ul style="justify-content: flex-end;">
    <li><a href="/listing">Home</a></li>
      <li><a href="/buyer">Buyer</a></li>
   <% if(currentUser&&currentUser.isFarmer) { %>
    <li><a href="/farmers">Farmers</a></li>
    <li><a href="/listing/new">New List</a></li>
   <% } %>
    <li><a href="/auth/login">LogIn</a></li>
  </ul>
</nav>